/*This is a custom CSS filesheet*/
body{
	background-color: #ECECEA;
	font-size: 18px;
	font-family: Perpetua Volume; 
}

.navbar{
	 opacity: 0.9;
}

li>.skill{
	font-weight: 600;
}

#front{
	min-height: 100%;
	padding-top: 70px;
	background: url(../img/foreground.png), url(../img/midground.png), url(../img/background.png);
   background-position: 0,0, 0;
   animation: animatedBackground 30s linear infinite;
   -ms-animation: animatedBackground 20s linear infinite;
   -moz-animation: animatedBackground 20s linear infinite;
   -webkit-animation: animatedBackground 20s linear infinite;
}

@-keyframes animatedBackground {
  from { background-position: center bottom; }
  to { background-position: 100% bottom, 150% bottom, 200% bottom; }
}
@-webkit-keyframes animatedBackground {
    from { background-position: center bottom; }
    to { background-position: 100% bottom, 150% bottom, 200% bottom; }
}
@-ms-keyframes animatedBackground {
    from { background-position: center bottom; }
    to { background-position: 100% 0; }
}
@-moz-keyframes animatedBackground {
    from { background-position: center bottom; }
    to { background-position: 100% bottom, 150% bottom, 200% bottom; }
}


#page-top img{
}

#skills li{
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
}

#skills li:hover{
	background-color: #CED5C0;
}

.description{
	background: #d1d4dd;
	padding-bottom: 5px;
	margin-right: 20px;
}

.description > h4{
	font-size: 22px;
	margin-bottom: 15px;
}

.description > small{
	padding-top:10px;
	padding-bottom:10px;
}

#experience .row{
	display: table;
	margin-bottom: 5px;
}

#experience [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}

.page-container{
	padding:40px 180px;
	min-height:100%;
}

.navbar{
	font-family: default;
	font-size: 18px;
}

 .navbar-default .navbar-nav > .active > a, 
 .navbar-default .navbar-nav > .active > a:hover, 
 .navbar-default .navbar-nav > .active > a:focus {
      color: #FFF;
      background: #4a6084;
 }

 h1{
 	text-align: center;
 }

 .lead{
 	text-align: center;
 }

 .background-white{
 	background: #FFF	
 }

 @media (max-width: 1000px) {
    .page-container {

     padding: 15px;
     margin: 0;
    }

    .container{
    	padding:0;
    	margin:0;
    }

    body {
      padding:0;
      margin:0;
    }

    small{
    	padding-right: 50px;
    }

    br{
    	display:none;
    }

    #front img{
    	padding-top: 30%;
    }

    #front{
    animation: animatedBackground 5s linear infinite;
   -ms-animation: animatedBackground 5s linear infinite;
   -moz-animation: animatedBackground 5s linear infinite;
   -webkit-animation: animatedBackground 5s linear infinite;
	}

    #experience .row{
    	display: default;
    }

    #experience [class*="col-"] {
    	float: left;
    	width: 100%;
	}
 }

 #skills .rating{
 	float: right; 	
 }

 #skills .rating .glyphicon{
 	font-size: 14px;
  	color: #d1d4dd;

 	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
 }


#skills .rating .glyphicon.filled{
	color: #f5ae23;
}

#skills ul > li:hover .rating .glyphicon { margin-left: 2px; } 

 .skill{
 	width:60%;
 }

 .no-bullets{
 	list-style-type: none;
 	margin: 0;
 	padding: 0;
 }

#projects [class*="col-"]{
	text-align: center;
	margin-bottom: 15px;
}



.bottom-aligned-text{
	text-align: bottom;
	vertical-align: bottom;
}

#contact{
	padding-top: 10%;
	background: #37373D;
	color: #e1e1e1;
	font-size: 23px;
	font-weight: 300;
}

#contact h1, #contact hr{
	color: #e1e1e1;
}

#contact .glyphicon{
	font-size: 25px;
	padding-right: 10px;
}

#contact li{
	padding-bottom: 10px;
	padding-top: 10px;
}

footer{
	background: #C2B4F4;
	height:50px;
	padding-top: 15px;
	padding-left: 10px;
}