@charset "utf-8";
html,
body {
	height: 100%;
	font-family: proxima-nova;
	font-style: normal;
	font-weight: 200;
	color: #515151;
	padding: 0;
	margin: 0;
}

#wrapper{
	min-height:100%;
	position:relative;
}

#header {
		text-align: center;
		clear: both;
		line-height: normal;
    overflow: hidden;
}

#body {
	margin-left: 10%;
	margin-right: 10%;
	padding: 20px;
}


#footer {
	width:100%;
	position: absolute;
	height: 20px;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: x-small;
	color: #FFFFFF;
	background-color: #2B4566;
	padding: 10px 0;
	clear: both;
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

#footer p{
		padding-left: 10px;
}

h1  {
	font-size: 50px;
	font-weight: 300;
	text-align: center;
	margin: 10px;
}

h4 {
	font-weight: 700;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, strong, b {
font-family: 'Open Sans';
margin-bottom: 20px;
}

p.lead {
	text-align: center;
}

.lead {
	font-size: 21px;
	margin-bottom: 5%;
}

hr {
	margin-top: 40px;
	margin-bottom: 40px;
	border: 0;
	border-top: 1px solid #eee;
	border-color: #727878;
	opacity: 0.2;
}


.sectionLeft {
	width: 25%;
	margin-left: 10%;
	margin-right:10%;
	float: left;
	margin-top: 0%;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-top: 10px;
}

.sectionMid {
	margin-left: 2.5%;
	margin-right: 2.5%;
	width: 30%;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
.sectionRight {
	width: 30%;
	margin-left: 2.5%;
	float: right;
	text-align: left;
	margin-bottom: 0px;
	margin-top: 0%;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

article {
	line-height: 50%;
}

a {
	text-decoration: none;
	color: #FFFFFF;
}

#nav {
	width: 100%
	background: #2B4566;
}

table{
	margin-bottom: 30px;
	width: 100%;
}


table td{
	width: 50%;
}

ul.no-bullets {
	margin: 0;
	padding: 0;
	list-style-type: none;
}



#nav a {
	width: 20%;
	display: block;
	float: left;
	font-weight: 400;
	text-align: center;
	background-color: #2B4566;
	color: #FFFFFF;
	text-transform: uppercase;
	padding-top: 20px;
	padding-bottom: 20px;
}

#nav a.active {
	background-color: #8096B2;
}
#nav a:hover {
	color: #B5B5B5;
}

hr {
	width: 75%;
}

.experience {
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	padding-bottom: 10px;
}

.col-1{
	width: 35%;
	background-color: #C4CAE4;
	padding-left: 15px;
	padding-right: 10px;
}

.col-2{
	width: 60%;
	padding-right: 15px;
}

.col-1 h4{
	font-size:20px;
	margin-bottom: 5px;
	margin-top: 5px;
}
.col-1 p{
	font-size: 12px;
}

.desc{
	margin-top: 0px;
	font-style:italic;
}

.col-2 p{
	padding-left: 10%;
	margin-bottom: 5px;
	font-size: 15px;
}

.col-2 ul{
	padding-left: 15%;
}

.skill {
	display: inline-block;
	width: 45%;
	padding-left: 10px;
}

.rating {
	float: right;
	padding-right: 10px;
	color: #DFE0E0;
}

.icon {

}

.icon-star:before {
	content: "★";
	font-size: 20px;
 }

.filled {
	color: #8692C9;
}

.experience li{
	padding: 10px;
}

li:hover {
	background-color: #F2F2F2;
}