<!-- Sidebar -->
  <div id="sidebar">
    <div class="inner">

      <!-- Search -->
        <!-- <section id="search" class="alt">
          <form method="post" action="#">
            <input type="text" name="query" id="query" placeholder="Search" />
          </form>
        </section> -->

      <!-- Menu -->
        <nav id="menu">
          <header class="major">
            <h2>Menu</h2>
          </header>
          <ul>
            <li><a href="{{ 'index.html' | absolute_url }}">About Me</a></li>
            <li><a href="{{ 'generic.html' | absolute_url }}">Blog</a></li>
          </ul>
        </nav>
      <!-- Section -->
        <section>
          <header class="major">
            <h2>Contact me</h2>
          </header>
          <ul class="contact">
            <li class="icon solid fa-envelope-open"><a href="#">{{ site.email }}</a></li>
            <li class="icon brands fa-linkedin"><a href="{{ site.linkedin_url }}">Lev Gorbunov</a></li>
            <li class="icon brands fa-github"><a href='{{site.github_url}}'>{{ site.github_username }}</a></li>
            <li class="icon brands fa-goodreads"><a href="{{site.goodreads_url}}">lev_david</a></li>
          </ul>
        </section>

      <!-- Footer -->
        <footer id="footer">
          <p class="copyright">&copy; {{ site.title }}. All rights reserved. Design: <a href="https://html5up.net">HTML5 UP</a></p>
        </footer>

    </div>
  </div>
